@{
    ViewBag.Title = "About";
}


<div class="jumbotron" style="margin-top:40px; text-align:center">
    <br />

    <h2 class="lead">Paddle app provides a one stop solution to book the court at your desired time and location</h2>

</div>