@{
    ViewBag.Title = "Home Page";
}
<img src="~/Pics/tennis.jpg "alt="Tennis" class="responsive" style="width: 1200px; height: 400px;">
<div class="jumbotron" style="margin-top:40px; text-align:center">
    <br />
    <h1>Welcome to PADDLE APP!</h1>
    <p class="lead">Tired staying at home?  Book your courts today through our hassle free portal</p>
   
</div>

<div class="jumbotron" style="margin-top:40px; text-align:center">
    <br />

    <h2 class="lead">Paddle app provides a one stop solution to book the court at your desired time and location</h2>

</div>

